    <footer role="contentinfo" class="mt-1">
      {#{ page.footer }#}

          <div class="row">
          
                      <div class="col offset-10">
                          <a class="btn btn-primary dropdown-toggle btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                              Produits Agma
                          </a>
                      </div>
                      <div class="collapse mx-auto mt-1" id="collapseExample">
                          <div class="card card-body">
                                <div class="row">   
                                  {{ page.footer_menu}}
                                </div>
                          </div>
                      </div>


          </div>

           <div class="row mt-1">
                  <div class="col">
                      {{ page.menu_footer2  }}
                  </div>
          </div>
    </footer>